@import "../fonts/style.css";

@import"../__MACOSX/Gilroy-FREE/.css";


*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    background:
        linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
    grid-template-rows: 10% 1fr 20%;
    grid-template-areas:
        " header header header header"
        " main main main main"
        "footer footer footer footer";
    background-image: url(../images/HG.svg);
    background-size: cover;
}

.mount {
    position: fixed;
    top: 240px;
    width: 100%;
    z-index: -1;
    height: 2000px;
    background-image: url(../images/MG.svg);
    background-size: cover;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas: "aside content wrapper";

}

.content {
    grid-area: content;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "h1";
}

.header {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas: "logo nav";
    grid-area: header;
}

.text {
    font-family: 'Chronicle Display Roman ';
    font-style: normal;
    color: #FFFFFF;
    grid-area: h1;
    text-align: center;
    font-size: 15em;
}


.logo {
    grid-area: logo;
    align-self: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: grid;
}

.l_go {
    width: 100%;
    height: 18%;
    align-self: center;
    justify-self: flex-start;
}

.menu_1 {
    grid-area: menu_1;
    color: #FFFFFF;
    align-self: center;
    text-decoration: none;
}

.menu_2 {
    grid-area: menu_2;
    color: #FFFFFF;
    align-self: center;
    text-decoration: none;
}

.menu_3 {
    grid-area: menu_3;
    color: #FFFFFF;
    align-self: center;
    text-decoration: none;
}

.menu_4 {
    grid-area: menu_4;
    color: #FFFFFF;
    align-self: center;
    text-decoration: none;
    justify-self: center;
}

.main {
    grid-area: main;
}


.land {
    margin-top: 500px;
    height: 1500px;
    background-image: url(../images/VG.svg);
    background-size: cover;
}

.rest {
    height: 10000px;
    background-color: #0c5d0c;
    background-image: linear-gradient(162deg, #0c5d0c 0%, #b5b54b 100%);

}

.pictCont {
    width: 50%;
    display: grid;
    align-items: center;
}

.pct {
    width: 50%;
    max-width: 50%;
    justify-content: left;
}

.scl {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "scl_1 scl_1 scl_1 scl_1"
        "scl_2 scl_2 scl_2 scl_2";

    justify-items: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 60%;
    padding: 20px;
}

.scl_1 {
    grid-area: scl_1;
    width: 100%;
    height: 100%;
}

.scl_2 {
    grid-area: scl_2;
    width: 100%;
    height: 100%;
}

.social_1 {
    grid-area: social_1;
    width: 100%;
    height: 15%;

}

.social_2 {
    grid-area: social_2;
    height: 15%;
    width: 100%;
}

.aside {
    grid-area: aside;
}

.wrapper {
    grid-area: wrapper;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    justify-items: center;
}

.footer {

    grid-area: footer;
    background: rgba(11, 29, 38, 1);
}

.nav {
    font-size: 40em;
    line-height: 22px;
    display: grid;
    grid-area: nav;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-areas: "menu_1 menu_2 menu_3 menu_4";
    text-align: center;
    font-family: 'Giroy-Light';
    font-size: 3em;
    width: 95vw;
}