*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
    grid-template-rows: 10% 1fr 10%;
    grid-template-areas:
        " header header header header"
        " aside main main main"
        "footer footer footer footer";

}

.header {
    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas:
        "logo nav";
    grid-area: header;
}

.logo {
    grid-area: logo;
}

.menu_1 {
    grid-area: menu_1;
    color: #FFFFFF;
    align-self: center;
    text-decoration: none;
}

.menu_2 {
    grid-area: menu_2;
    color: #FFFFFF;
    align-self: center;
    text-decoration: none;
}

.menu_3 {
    grid-area: menu_3;
    color: #FFFFFF;
    align-self: center;
    text-decoration: none;
}

.menu_4 {
    grid-area: menu_4;
    color: #FFFFFF;
    align-self: center;
    text-decoration: none;
}

.main {
    border: 1px solid rgb(173, 35, 236);
    grid-area: main;
}

.aside {
    border: 1px solid navy;
    grid-area: aside;
}

.footer {
    border: solid orange 1px;
    grid-area: footer;
}

nav {
    font-size: 40px;
    line-height: 22px;


    display: grid;
    grid-area: nav;

    grid-template-columns:
        25% 25% 25% 25%;
    grid-template-areas:
        "menu_1 menu_2 menu_3 menu_4";
    text-align: center;
}